* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: sticky;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background: #fff;
  z-index: 100;
}

.mobile-nav{
  display: none;
}

.logo {
  margin: 2rem 5rem;
}

.logo-link {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
}
.logo-link span {
  color: #17dd77;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
}
.nav-links__item {
  margin: 1rem 1rem;
}

.nav-links__item__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
  transition: 0.5s;
}

.active {
  color: rgb(23, 221, 119);
}

.toggle-button{
  display: none;
}

/* MEDIA */

@media screen and (min-width: 360px) and (max-height: 900px){
  .nav-links {
    display: none;
  }

  .logo {
    margin: 2rem 1rem;
  }

  .mobile-nav{
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background: white;
    width: 100%;
    height: 100%;
  }

  .mobile-nav__items {
    position: fixed;
    top:10vh;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .mobile-nav__item {
    margin: 2rem 0;
    width: 100%;
  }

  .mobile-nav__item a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
    font-weight: 700;
  }

  .toggle-button {
    display: block;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 0.3rem;
    vertical-align: middle;
    z-index: 200;
  }

  .toggle-button:focus {
    outline: none;
  }

  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }
}
@media screen and (min-width: 750px) {
  nav {
    position: sticky;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    z-index: 100;
  }
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    visibility: initial;
  }

}
@media screen and (min-width: 800px) {
  nav {
    position: sticky;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    z-index: 100;
  }
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    visibility: initial;
  }
}

.open{
  display: flex;
}
