<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <h2>HealtyFood App</h2>
  <h1>What is this app about</h1>
  <p class="desc">HealtyFood App is a platform that allows users to browse and discover various recipes for different types of meals, occasions, and dietary preferences. The website may include recipes from a variety of cuisines, including international and regional dishes.
    The website is designed to provide users an easy-to-use interface, allowing them to filter recipes based on their preferences such as ingredient, cooking time, meal type, and skill level. Additionally, the website include features such as meal planning tools, shopping lists, and nutritional information to help users make informed choices about their meals.
    To enhance the user experience, the website also include images and videos to show the preparation process and the final outcome of the recipe.</p>
  <div class="img-container">
    <img src="../../../assets/recipe-1.png" alt="HealtyFood">
  </div>
  <div class="img-container">
    <img src="../../../assets/Recipe-2.png" alt="HealtyFood">
  </div>
  <div class="img-container">
    <img src="../../../assets/Recipe-3.jpg" alt="HealtyFood">
  </div>
  <button class="btn" (click)="onClose()">Close</button>
</div>
