/* ABOUT ME */
.resume-about__contrainer,
.resume-about__text-contrainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.resume-about__image {
  width: 50%;
  height: 70vh;
  background-image: url("../images/about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: 50%;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 0 0 5px 1px #000;
}
.resume-about__text-container {
  width: 50%;
  padding: 5rem;
}
.resume-about__title {
  padding: 1rem;
  font-weight: 700;
  font-size: 5rem;
  color: rgb(23, 221, 119);
}
.resume-about__desc {
  padding: 1rem;
  font-size: 1.2rem;
  color: #333;
}

/* BOX-SKILL */

.resume-about__row,
.title-center > div > p,
.resume-about__skill-box,
.resume-about__svg,
.resume-about__skill {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume-about__row {
  margin: 0 auto;
  width: 100%;
  height: 55vh;
}
.title-center {
  flex-direction: column;
  width: 70%;
  height: fit-content;
}
.title-center > div > p {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  color: gray;
}
.resume-about__skill-box {
  flex-direction: column;
  color: #ffffff;
  background-color: rgb(9, 137, 120);
  border: 1px solid black;
  width: 400px;
  height: 350px;
  margin: 0.5rem;
  border-radius: 6px;
}
.resume-about__svg {
  font-size: 5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.resume-about__svg:hover {
  scale: 1.1;
  color: #e41ba0;
}
.resume-about__skill {
  font-size: 1.2rem;
  margin-top: 50px;
  font-weight: bold;
}

/* MEDIA */

@media screen and (min-width: 360px) {
  .resume-about__contrainer {
    flex-wrap: wrap-reverse;
    padding: 0rem;
  }
  .resume-about__image {
    width: 100%;
    height: 50vh;
    margin: 2rem;
  }
  .resume-about__text-container {
    width: 100%;
    padding: 1rem;
  }
  .resume-about__title {
    padding: 1rem;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .resume-about__desc {
    padding: 1rem;
    font-size: 1rem;
    color: #333;
  }
  .resume-about__row {
    flex-wrap: wrap;
    width: 100%;
    height: 45vh;
  }
  .title-center {
    width: 100%;
    padding: 1rem;
  }
  .title-center > div > p {
    padding: 1rem;
    margin: 0 auto;
    text-align: left;
    width: 100%;
  }
  .resume-about__skill-box {
    width: 80%;
    height: 250px;
    margin: 1rem;
  }
  .resume-about__svg {
    font-size: 4rem;
  }
  .resume-about__svg:hover {
    scale: 1.1;
  }
  .resume-about__skill {
    font-size: 1rem;
    margin-top: 50px;
    font-weight: bold;
  }
}
@media screen and (min-width: 650) {
}
@media screen and (min-width: 800px) {
  .resume-about__contrainer {
    flex-wrap: wrap-reverse;
    padding: 0rem;
  }
  .resume-about__image {
    width: 100%;
    height: 70vh;
    margin: 0.1rem 3rem;
  }
  .resume-about__text-container {
    width: 100%;
    padding: 4rem;
  }
  .resume-about__title {
    padding: 1rem;
    font-size: 2.5rem;
  }
  .resume-about__desc {
    padding: 1rem;
    font-size: 1rem;
  }
  .resume-about__row {
    width: 100%;
    height: 55vh;
  }
  .title-center {
    width: 70%;
  }
  .title-center > div > p {
    text-align: center;
    width: 70%;
  }
  .resume-about__skill-box {
    width: 350px;
    height: 300px;
    margin: 0.5rem;
  }
  .resume-about__svg {
    font-size: 4rem;
  }
  .resume-about__svg:hover {
    scale: 1.1;
  }
  .resume-about__skill {
    font-size: 1rem;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1000px) {
  .resume-about__contrainer,
  .resume-about__text-contrainer {
    flex-wrap: nowrap;
    padding: 5rem;
  }
  .resume-about__image {
    width: 50%;
    height: 70vh;
    margin: 1rem;
  }
  .resume-about__text-container {
    width: 50%;
    padding: 5rem;
  }
  .resume-about__title {
    padding: 1rem;
    font-size: 3.5rem;
  }
  .resume-about__desc {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .resume-about__row {
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
    height: 55vh;
  }
  .title-center {
    width: 70%;
  }
  .title-center > div > p {
    text-align: center;
    width: 70%;
  }
  .resume-about__skill-box {
    width: 300px;
    height: 250px;
    margin: 0.5rem;
  }
  .resume-about__svg {
    font-size: 5rem;
  }
  .resume-about__svg:hover {
    scale: 1.1;
  }
  .resume-about__skill {
    font-size: 1.2rem;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1400px) {
}
@media screen and (min-width: 1600px) {
  .resume-about__contrainer,
  .resume-about__text-contrainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5rem;
  }
  .resume-about__image {
    width: 50%;
    height: 70vh;
    margin: 1rem;
  }
  .resume-about__text-container {
    width: 50%;
    padding: 5rem;
  }
  .resume-about__title {
    padding: 1rem;
    font-weight: 700;
    font-size: 5rem;
    color: rgb(23, 221, 119);
  }
  .resume-about__desc {
    padding: 1rem;
    font-size: 1.2rem;
    color: #333;
  }
  .resume-about__row {
    margin: 0 auto;
    width: 100%;
    height: 55vh;
  }
  .title-center {
    flex-direction: column;
    width: 70%;
    height: fit-content;
  }
  .title-center > div > p {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    color: gray;
  }
  .resume-about__skill-box {
    flex-direction: column;
    color: #ffffff;
    background-color: rgb(9, 137, 120);
    border: 1px solid black;
    width: 400px;
    height: 350px;
    margin: 0.5rem;
    border-radius: 6px;
  }
  .resume-about__svg {
    font-size: 5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .resume-about__svg:hover {
    scale: 1.1;
    color: #e41ba0;
  }
  .resume-about__skill {
    font-size: 1.2rem;
    margin-top: 50px;
    font-weight: bold;
  }
}