<div class="resume-about__contrainer">
    <div class="resume-about__image"></div>
    <div class="resume-about__text-container">
        <div class="resume-about__title">
            <h1>{{ "dummy" }}</h1>
        </div>
        <div class="resume-about__desc">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dicta facilis est, quam commodi, alias accusamus magni, obcaecati ipsam hic exercitationem ipsum! Similique facere quod suscipit hic delectus quo ipsam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dicta facilis est, quam commodi, alias accusamus magni, obcaecati ipsam hic exercitationem ipsum! Similique facere quod suscipit hic delectus quo ipsam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dicta facilis est, quam commodi, alias accusamus magni, obcaecati ipsam hic exercitationem ipsum! Similique facere quod suscipit hic delectus quo ipsam!
            </p>
        </div>
    </div>
</div>