<section>
    <div class="resume-about__contrainer">
        <div class="resume-about__image"></div>
        <div class="resume-about__text-container">
            <div class="resume-about__title">
                <h2>{{ "About" }}</h2>
            </div>
            <div class="resume-about__desc">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dicta facilis est, quam commodi, alias accusamus magni, obcaecati ipsam hic exercitationem ipsum! Similique facere quod suscipit hic delectus quo ipsam!
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dicta facilis est, quam commodi, alias accusamus magni, obcaecati ipsam hic exercitationem ipsum! Similique facere quod suscipit hic delectus quo ipsam!
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dicta facilis est, quam commodi, alias accusamus magni, obcaecati ipsam hic exercitationem ipsum! Similique facere quod suscipit hic delectus quo ipsam!
                </p>
            </div>
        </div>
    </div>
    <div class="resume-about__row title-center">
        <div class="resume-about__title">
            <h2> {{"What I Am Great At"}} </h2>
        </div>
        <div>
            <p class="resume-about__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit placeat modi repellat ab numquam minima impedit molestias ullam vitae, neque tempore sequi, voluptatum labore quas incidunt doloribus ipsa mollitia rem!
            </p>
        </div>
    </div>
    <div class="resume-about__row">
        <div class="resume-about__skill-box">
            <div class="resume-about__svg">
                {{"photo"}}
            </div>
            <div class="resume-about__skill">
                {{"Web Designing"}}
            </div>
        </div>
        <div class="resume-about__skill-box">
            <div class="resume-about__svg">
                {{"photo"}}
            </div>
            <div class="resume-about__skill">
                {{"Web Designing"}}
            </div>
        </div>
        <div class="resume-about__skill-box">
            <div class="resume-about__svg">
                {{"photo"}}
            </div>
            <div class="resume-about__skill">
                {{"Web Designing"}}
            </div>
        </div>
        <div class="resume-about__skill-box">
            <div class="resume-about__svg">
                {{"photo"}}
            </div>
            <div class="resume-about__skill">
                {{"Web Designing"}}
            </div>
        </div>
    </div>
</section>
