<section>
    <div class="resume-about__contrainer">
        <div class="resume-about__image"></div>
        <div class="resume-about__text-container">
            <div class="resume-about__title">
                <h2>{{ "About" }}</h2>
            </div>
            <div class="resume-about__desc">
                <p>
                  Hello, my name is Cristian Enache, and I am a passionate web developer. I specialize in creating responsive, user-friendly, and visually appealing websites and web applications using the latest web technologies.
                    <br>
                    <br>
                    In addition to my technical skills, I am a team player who values collaboration and open communication. I enjoy learning from my colleagues and sharing my knowledge with others. I am always looking for new challenges and opportunities to grow as a web developer.
                    <br>
                    <br>
                    When I am not coding, you can find me painting, playing video games, or attending tech meetups and conferences. Thank you for taking the time to learn more about me. I look forward to working with you on your next web project!
                </p>
            </div>
        </div>
    </div>
    <div class="resume-about__row title-center">
        <div class="resume-about__title">
            <h2> {{"What Am I Great At"}} </h2>
        </div>
        <div>
            <p class="resume-about__desc">
              As a web developer I am specialized in the development and maintenance of websites and web applications. I use various programming languages such as HTML, CSS, JavaScript, and others to create visually appealing and user-friendly web pages.
            </p>
        </div>
    </div>
    <div class="resume-about__row">
        <div class="resume-about__skill-box">
            <div class="resume-about__svg">
                <fa-icon class="icon" [icon]="first"></fa-icon>
            </div>
            <div class="resume-about__skill">
                {{"Web Designing"}}
            </div>
        </div>
        <div class="resume-about__skill-box">
            <div class="resume-about__svg">
                <fa-icon class="icon" [icon]="second"></fa-icon>
            </div>
            <div class="resume-about__skill">
                {{"Frontend"}}
            </div>
        </div>
        <div class="resume-about__skill-box">
            <div class="resume-about__svg">
                <fa-icon class="icon" [icon]="third"></fa-icon>
            </div>
            <div class="resume-about__skill">
                {{"Backend"}}
            </div>
        </div>
        <div class="resume-about__skill-box">
            <div class="resume-about__svg">
                <fa-icon class="icon" [icon]="fourth"></fa-icon>
            </div>
            <div class="resume-about__skill">
                {{"Photoshop"}}
            </div>
        </div>
    </div>
</section>
