<div class="resume-project__container">
    <div class="resume-project__text-container">
      <div class="resume-project__title">
        <h2>Portfolio</h2>
        </div>
      <br />
      <div class="resume-project__text">
        <p>
            Below you can watch some of my recent projects. I am still upgrading some of those projects with the new experience I gain every day, so make sure to come back from time to time.
        </p>
      </div>
    </div>
</div>
<div class="resume-grid__container">
    <div class="resume-component__container">
        <div class="resume-component__image">
            <a href="#">
                <img src="../../assets/projects.jpg" alt="#">
            </a>
        </div>
        <div class="resume-component__card">
            <div>
                <span>Portfolio Website in Angular</span>
            </div>
        </div>
    </div>
    <div class="resume-component__container">
        <div class="resume-component__image">
            <a href="#">
                <img src="../../assets/projects.jpg" alt="#">
            </a>
        </div>
        <div class="resume-component__card">
            <div>
                <span>Text</span>
            </div>
        </div>
    </div>
    <div class="resume-component__container">
        <div class="resume-component__image">
            <a href="#">
                <img src="../../assets/projects.jpg" alt="#">
            </a>
        </div>
        <div class="resume-component__card">
            <div>
                <span>Text</span>
            </div>
        </div>
    </div>
    <div class="resume-component__container">
        <div class="resume-component__image">
            <a href="#">
                <img src="../../assets/projects.jpg" alt="#">
            </a>
        </div>
        <div class="resume-component__card">
            <div>
                <span>Text</span>
            </div>
        </div>
    </div>
    <div class="resume-component__container">
        <div class="resume-component__image">
            <a href="#">
                <img src="../../assets/projects.jpg" alt="#">
            </a>
        </div>
        <div class="resume-component__card">
            <div>
                <span>Text</span>
            </div>
        </div>
    </div>
    <div class="resume-component__container">
        <div class="resume-component__image">
            <a href="#">
                <img src="../../assets/projects.jpg" alt="#">
            </a>
        </div>
        <div class="resume-component__card">
            <div>
                <span>Coming Soon!</span>
            </div>
        </div>
    </div>
</div>