<div class="content">
  <div class="background"></div>
  <div class="content-detail">
    <div class="intro">
      <h2>Ways you can contact me!</h2>
      <div class="resume-contact__desc">
        <p>If you are open to it, I would love to schedule a call or meeting to discuss. Please let me know if this is of interest to you and if so, your availability. Thank you for your time and consideration.</p>
      </div>
    </div>
    <div class="grid">
      <div class="card">
        <a><fa-icon [icon]="faPhone"></fa-icon> 0734428418</a>
      </div>
      <div class="card">
        <a><fa-icon [icon]="faEnvelope"></fa-icon> enache.cristian2097@gmail.com </a>
      </div>
      <div class="card">
          <a href="https://discord.com/users/Enache63#9924"><fa-icon class="icon" [icon]="faDiscord"></fa-icon> Discord</a>
      </div>
      <div class="card">
          <a href="https://wa.me/734428418"><fa-icon [icon]="faWhatsapp"></fa-icon> WhatsApp</a>
      </div>

    </div>
  </div>
</div>
