<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <h2>Social Media App</h2>
  <h1>What is this app about</h1>
  <p class="desc">This project is a platform designed to facilitate social interactions and connections between individuals or groups. Users can create a profile and share content such as photos and written posts with their followers or the wider public. They can also engage with other users' content by liking, commenting, or sharing it.
    Application offer various features to enhance user engagement and networking, such as the ability to join groups or communities based on shared interests, messaging and chat functions, and the option to follow celebrities, influencers, or businesses.</p>
  <div class="img-container">
    <img src="../../../assets/Social-1.jpg" alt="HealtyFood">
  </div>
  <div class="img-container">
    <img src="../../../assets/Social-2.jpg" alt="HealtyFood">
  </div>
  <div class="img-container">
    <img src="../../../assets/social-3.jpg" alt="HealtyFood">
  </div>
  <button class="btn" (click)="onClose()">Close</button>
</div>
