<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <h2>uHost</h2>
  <h1>What is this app about</h1>
  <p class="desc">This presentation webpage was designed to showcase information and engage the audience in a visual and interactive manner. Includes multimedia elements such as images, videos, and animations, as well as text and other graphical elements.
    The design of a presentation webpage is important for capturing the audience's attention and conveying the key points of the presentation. So in this website I have a clear and organized layout, with a logical flow of information that is easy to follow.</p>
  <div class="img-container">
    <img src="../../../assets/uHost1.png" alt="HealtyFood">
  </div>
  <div class="img-container">
    <img src="../../../assets/uHost2.png" alt="HealtyFood">
  </div>
  <button class="btn" (click)="onClose()">Close</button>
</div>

