<div class="page">
  <div class="content">
    <h3 class="title">Hey_</h3>
    <h2 class="subtitle">I am <span class="subtitle-highlight" id="text">Cristian</span></h2>
    <p class="description">
      I love working on challenging projects and finding creative solutions to complex problems. I have a deep understanding of web development concepts and techniques, including HTML, CSS, JavaScript, and various web frameworks. I am also familiar with back-end development technologies such as Express, Node.js, and MongoDB.
    </p>
    <button class="btn">Hire me</button>
    <button class="btn">Let's chat</button>
  </div>
</div>
