<div class="page">
  <app-modal *ngIf="call" (close)="onClose()"></app-modal>
  <div class="content">
    <h3 class="title">Hey_</h3>
    <h2 class="subtitle">I am
      <ngx-typed-js [strings]="['Cristian', 'Web Developer','Designer', 'Frontend Developer']" [backDelay]="800" [loop]="true" [typeSpeed]="50" [backSpeed]="50">
      <span class="typing" id="text"></span>
     </ngx-typed-js>
    </h2>
    <p class="description">
      I love working on challenging projects and finding creative solutions to complex problems. I have a deep understanding of web development concepts and techniques, including HTML, CSS, JavaScript, and various web frameworks. I am also familiar with back-end development technologies such as Express, Node.js, and MongoDB.
    </p>
    <button class="btn">
      <a class="btn" style="text-decoration: none;" href="https://drive.google.com/u/0/uc?id=1TqlwFSGO2uyTTqUo34aEsb771VIYSVl8&export=download" download>
        Hire me
      </a>
    </button>
    <button class="btn chat" id="chat" (click)="onClick($event)"><fa-icon [icon]="faComment"></fa-icon><a>Let's chat</a></button>
  </div>
  <div class="color-bk">
  </div>
  <div class="man"></div>
  <footer>
    <ul class="contact">
      <li class="contact-link"><a href="https://www.facebook.com/cristian.enache.71216/"><fa-icon class="icon" [icon]="faFacebook"></fa-icon></a></li>
      <li class="contact-link"><a href="https://discord.com/users/Enache63#9924"><fa-icon class="icon" [icon]="faDiscord"></fa-icon></a></li>
      <li class="contact-link"><a href="https://www.linkedin.com/in/cristian-enache-0a7305191/"><fa-icon class="icon" [icon]="faLinkedin"></fa-icon></a></li>
      <li class="contact-link"><a href="https://github.com/EnacheCristian97"><fa-icon class="icon" [icon]="faGithub"></fa-icon></a></li>
    </ul>
  </footer>
</div>
