.page{
  display: flex;
  align-items: center;
  height: 91vh;
  width: 100vw;
}
.content{
  position: relative;
  max-width: 60vw;
  padding: 0 4rem;
  z-index: 10;
}

.title {
  font-weight: 200;
  font-size: 2rem;
  color: #333;
  transition: 0.5s;
}

.subtitle {
  font-size: 5rem;
  font-weight: 700;
  color: #333;
}

.subtitle-highlight{
  color: #E41BA0;
}

.description{
  font-size: 1.2rem;
  color: #666;
  margin: 1.2rem 0;
  transition: 0.5s;
}

.btn {
  position: relative;
  background: rgb(23, 221, 119);
  color: #fff;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  margin-right: 1.1rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

fa-icon {
  color: #E41BA0;
  font-size: 1.5rem;
  padding: 0.3rem;
  top: 0.05rem;
}

.chat{
  color: #333;
  background-color: transparent;
}

footer{
  position: absolute;
  bottom: 2rem;
  margin-left: 5rem;
}

.contact{
  display: flex;
  gap: 2rem;

}

.contact-link {
  list-style: none;
}

.contact-link a {
  text-decoration: none;
}

.icon{
  font-size: 1.7rem;
  color: #333;
}

.icon:hover{
  color: #E41BA0;
}
