<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <h2>Painting Gallery App</h2>
  <h1>What is this app about</h1>
  <p class="desc">
    Painting Gallery website is an online platform that showcases artwork from various artists, providing a digital space to browse and purchase paintings. The website can feature a variety of paintings, including contemporary, abstract, landscape, portrait, and still life paintings.
    <br>
  The website is design and focused on creating an immersive experience for the user, with high-quality images of the paintings displayed in a visually appealing and easy-to-navigate layout. Users can browse paintings by artist, style, theme.
  </p>
  <div class="img-container">
    <img src="../../../assets/Painting-gallery.jpg" alt="Painting-gallery">
  </div>
  <div class="img-container">
    <img src="../../../assets/Painting-gallery-1.jpg" alt="Painting-gallery">
  </div>
  <button class="btn" (click)="onClose()">Close</button>
</div>
